<?php
$config = array(
	'jhttps' => array(
    	/**
    	 * If you want reset to http scheme for non https route
    	 */
    	'force_http_for_non_https_route' => true,
    	'routes' => array(
    		//'zfcuser/login'
    	)
    )
);
return $config;